@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: auto;
  font-family: Proxima Nova, system-ui, sans-serif;
  font-size: 18px;
  background-color: #1a1a1a;
  color: azure;
}



